{{ define "main" }}

<div class="row">
    <div class="col">

        <h1 class="mb-3">{{ .Title }} - {{ .Date.Format "Mon, Jan 2, 2006" }}</h1>

        <p class="lead">{{ .Params.description }}</p>
        {{ .Content }}

    </div>
</div>
<div class="row align-center">
    <div class="col">
        <a href="{{ .Site.BaseURL }}" class="btn btn-primary btn-lg">{{ i18n "backtohome" }}</a>
    </div>
</div>

{{ if .Page.Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({
      startOnLoad: true,
      theme: 'dark',
    });
  </script>
{{ end }}

{{ end }}
